-table_style = "border: 1px solid #ccc; width: 90%; border-right:none; border-bottom:none; margin-left: 40px;"
-td_style = "border: 1px solid #ccc; border-top: none; border-left:none; padding: 5px;"
-th_style = td_style + ""
-th_left_style = td_style + "text-align: right;";
-h1_style = "font-size: 30px; color: #ccc; text-align: center;"
- our_company = @object.our_company


%div{:style => "clear: both; margin-top: 20px; overflow: auto"}
  %div{:style => "float:left; margin: 0px 0;"}
    = "#{our_company.name}"
    %br
    = "#{our_company.address}, #{our_company.zip_code} #{our_company.city}, #{our_company.country}"
    %br
    = "Registration number: #{our_company.registration_number}"
    %br
    = "Tel: #{our_company.contact_phone}"
    %br
    = "E-mail: #{our_company.contact_email}"
    %br
    %br
  %div{:style => "float:left; margin: 0px 0; clear:left;"}
    ="VAT number: #{our_company.vat_number}"

  %div{:style => "float:left; margin: 0px 0; clear:left; margin-top: 10px;"}
    = @object.project.partner.name
    %br
    = @object.project.partner.address
    %br
    = "#{@object.project.partner.zip_code} #{@object.project.partner.city}"
    %br
    = @object.project.partner.country
    %br
    ="Attention #{@object.project.partner.attention_to}"
    %br
    %br
  %div{:style => "float:left; margin: 0px 0; clear:left;"}
    ="VAT number: #{@object.project.partner.vat_number}"
    %br
    %br

  %div{:style => "float:left; margin: 0px 0; clear:left;"}
    %b="Invoice number: #{@object.invoice_number}"
    %br
    = "Invoice date: #{l @object.created_at.to_date, format: :default}"
    %br
    - if @object.sent_at
      = "Payment due: #{l (@object.sent_at.to_date + 8.days), format: :default}"
    - else
      = 'Payment due: /'
    %br
    - if @object.service_delivered_at
      = "Service delivered: #{l (@object.service_delivered_at.to_date), format: :default}"
    - else
      = "Service delivered: /"
    %br
    %br
  %table{:style => table_style, :cellspacing => 0}
    %tr
      %th{:style => th_style}='Serial no.'
      %th{:style => th_style}='Service description'
      %th{:style => th_style}='Quantity'
      %th{:style => th_style}='Price in EUR per unit'
      %th{:style => th_style}='Total amount in EUR'
    - @object.invoice_items.each_with_index do |invoice_item, index|
      %tr
        %td{:style => th_style}=(index+1)
        %td{:style => th_style}
          = "- #{invoice_item.description}"
        %td{:style => th_style}=1
        %td{:style => th_style}= invoice_item.price
        %td{:style => th_style}= invoice_item.price
    %tr
      %td=""
      %td=""
      %td=""
      %td{:style => th_style}= "Total amount in EUR"
      %td{:style => th_style}= @object.price

  %br
  %br
  %div{:style => "float:left; margin: 0px 0; clear:left; margin-top: 20px;"}
    ="Please effect the payment of the above sum as follows:"
    %br
    = "#{our_company.name}"
    %br
    = "Bank transfer to IBAN: #{our_company.trr}"
    %br
    = "Swift BIC code: #{our_company.swift_bic_code}"
    %br
    = "Bank: #{our_company.bank}"
    %br
    = our_company.country
    %br
    = "Reference number: #{@object.invoice_number}"


  %div{:style => "float:left; margin: 0px 0; clear:left; margin-top: 0px;"}
    - if @object.additional_law
      = @object.additional_law.description

  %div{:style => "float:left; margin: 0px 0; clear:left; margin-top: 20px;"}
    = "No signature or stamp required"
  %div{:style => "float:right; margin: 0px 0; clear:left; margin-top: 0px;"}
    = our_company.name

