-table_style = "border: 1px solid #ccc; width: 90%; border-right:none; border-bottom:none; margin-left: 40px;"
-td_style = "border: 1px solid #ccc; border-top: none; border-left:none; padding: 5px;"
-th_style = td_style + ""
-th_left_style = td_style + "text-align: right;";
-h1_style = "font-size: 30px; color: #ccc; text-align: center;"
- our_company = @object.our_company


%div{:style => "clear: both; margin-top: 20px; overflow: auto"}
  %div{:style => "float:left; margin: 0px 0;"}
    = "#{our_company.name}, #{our_company.address} #{our_company.zip_code} #{our_company.city}, #{Country[our_company.country]}"
  %div{:style => "float:left; margin: 0px 0; clear:left;"}
    = "Registration number: #{our_company.registration_number}, VAT number: #{our_company.vat_number}, VAT not applicable"
  %div{:style => "float:left; margin: 0px 0; clear:left;"}
    %br
    %b="Invoice number: #{@object.invoice_number}"
  %div{:style => "float:right; margin: 0px 0;"}
    %br
    %b= l @object.created_at.to_date, format: :default
  %div{:style => "float:left; margin: 0px 0; clear:left; margin-top: 10px;"}
    = @object.project.partner.name
    - if @object.project.partner.vat
      %br
      = "VAT number: #{@invoice.project.partner.vat}"
    %br
    = @object.project.partner.address
    %br
    = "#{@object.project.partner.zip_code} #{@object.project.partner.city}"
    %br
    = Country[@object.project.partner.country]
    %br
    %br
    %b="Attention: #{@object.project.partner.attention_to}"
    %br
    %br
    %hr{:style => "width: 650px; margin-left: 10px"}
  %div{:style => "clear: both; margin-bottom: 10px;"}
    ="Summary:"
  %table{:style => table_style, :cellspacing => 0}
    - @object.invoice_items.each do |invoice_item|
      %tr
        %td{:style => th_style}
          = "- #{invoice_item.description}"
        %td{:style => th_style}= @object.currency
        %td{:style => th_style}= invoice_item.price
    %tr
      %td{:style => th_style}
        = "Total due"
      %td{:style => th_style}= @object.currency
      %td{:style => th_style}= @object.price
  %div{:style => "float:left; margin: 0px 0; clear:left; margin-top: 20px;"}
    = "VAT TAX."
    = "Not Applicable"
  %div{:style => "float:left; margin: 0px 0; clear:left; margin-top: 20px;"}
    = "PAYMENT DUE #{@object.due_days} DAYS"

  %div{:style => "float:left; margin: 0px 0; clear:left; margin-top: 20px;"}
    = "For deposit to the account of #{our_company.name} with:"
    %br
    = our_company.bank
    %br
    = our_company.trr
    %br
    = "Reference number: #{@object.invoice_number}"
    %br
    = "Swift BIC code: #{our_company.swift_bic_code}"
    %br
    = Country[our_company.country]
  %div{:style => "float:left; margin: 0px 0; clear:left; margin-top: 20px;"}
    -if @object.project.partner.footer_text
      = @object.project.partner.footer_text
    - else
      = "VAT is not charged according to the art. 94 of Slovenia VAT law"
  %div{:style => "float:left; margin: 0px 0; clear:left; margin-top: 20px;"}
    %b= "If you have any questions concerning this invoice, please contact:"
    %br
    = our_company.contact_name
    %br
    = our_company.contact_phone
    %br
    = our_company.contact_email
  %div{:style => "float:left; margin: 0px 0; clear:left; margin-top: 20px;"}
    = "No signature or stamp required"
