= simple_form_for @invoice, remote: true do |f|
  = f.input :project, as: :autocomplete
  = f.input :our_company, as: :autocomplete
  = f.input :invoice_number
  = f.input :currency
  = f.input :sent_at
  = f.input :storno

  - nested_form = ""
  - nested_child_index = 0
  = f.simple_fields_for :invoice_items do |i|
    - nested_form = i
    - nested_child_index = i.options[:child_index]
    - if i.object.new_record?
      %h4= "Add new invoice item"
    - unless i.object.new_record?
      = render 'invoice_item_fields', :f => nested_form

  = hidden_field_tag "nested_form_child_id", nested_child_index
  = link_to 'New invoice item','#',:class => 'new_invoice_item_append'
  :javascript

    $(".new_invoice_item_append").click(function() {
      var html = '#{escape_javascript( render :partial => 'invoice_item_fields', :locals => {:f => nested_form})}';
      var find = '_'+#{nested_child_index}+'_';
      var re = new RegExp(find, 'g');
      var replace_string = '_'+$('#nested_form_child_id').val()+'_'
      html = html.replace(re, replace_string);

      var find = '[['+#{nested_child_index}+']]';
      var re = new RegExp(find, 'g');
      var replace_string = ''+$('#nested_form_child_id').val()+']'
      html = html.replace(re, replace_string);
      $(this).before(html);
      $('#nested_form_child_id').val(parseInt($('#nested_form_child_id').val())+1);
      return false;
    });
  %br
  = f.submit @invoice.new_record? ? "Create" : "Update", class: "btn btn-lg btn-default pull-left"
