- all_salaries = @salaries.sum("price")
.row
  - @user_salaries.keys.each do |key|
    .col-md-3{:style => "border: 1px solid; height: 70px;"}
      %b= key
      %br
      = "Earned: #{@user_salaries[key]}"
      %br
      =" To get: #{(@max_salary - @user_salaries[key])}"
  %br
  %div{:style => "clear:left;"}
    = "All salaries #{all_salaries}"
.row
- @dates_array.each do |date|
  .col-md-2{:style => "border: 1px solid; height: 100px;"}
    - date_shorter = date.strftime("%m-%Y")
    %b= date_shorter
    %br
    - if @user_month_salaries.has_key? (date_shorter)
      - @user_month_salaries[date_shorter].each do |month_salary|
        = month_salary.user.email[0,1]
        = month_salary.price
    - else
      = "No pay"
    %br




