="All expenses: "
%b="#{@expenses_ammount} EUR"
="All salaries: "
%b="#{@salaries_ammount} EUR"
="All taxes: "
%b="#{@taxes_ammount} EUR"
="All dohodnina: "
%b="#{@dohodnina_ammount} EUR"
="All misc: "
%b="#{@misc_ammount} EUR"

